{% extends "common.html.twig" %}
{% set datetimeFormat = "m/d/Y @ H:i:s" %}

{% block body %}
    <div>
        {# Salutation #}
        <p>
            {% if personalized and user %}
                {{ "Dear"|translate }} {{ user.getFirstName }} {{ user.getLastName }},
            {% else %}
                {{ "Dear Sales Team,"|translate }}
            {% endif %}
        </p>

        {# Content #}
        <p>
            {% if activity.getType == "assignment" %}
                {% if personalized %}
                    {{ "The following Ticket has been assigned to You in the UCRM."|translate }}
                {% else %}
                    {{ "The following Ticket has been assigned to a User in the UCRM."|translate }}
                {% endif %}
            {% elseif activity.getType == "assignment_client" %}
                {% if personalized %}
                    {{ "The following Ticket has been assigned to a Client in the UCRM."|translate }}
                {% else %}
                    {{ "The following Ticket has been assigned to a Client in the UCRM."|translate }}
                {% endif %}
            {% elseif activity.getType == "assignment_job" %}
                {% if personalized %}
                    {{ "The following Ticket has been assigned to a Job in the UCRM."|translate }}
                {% else %}
                    {{ "The following Ticket has been assigned to a Job in the UCRM."|translate }}
                {% endif %}
            {% elseif activity.getType == "status_change" %}
                {% if personalized %}
                    {{ "The following Ticket has recived a Status Change in the UCRM."|translate }}
                {% else %}
                    {{ "The following Ticket has recived a Status Change in the UCRM."|translate }}
                {% endif %}
            {% else %}
                {% if personalized %}
                    {{ "The following Ticket has been edited in the UCRM."|translate }}
                {% else %}
                    {{ "The following Ticket has been edited in the UCRM."|translate }}
                {% endif %}
            {% endif %}
        </p>

        {# Ticket #}
        {% include "_partials/ticket.html.twig" %}

        {# Client #}
        {% include "_partials/client.html.twig" %}

        {# Map #}
        {% include "_partials/map.html.twig" %}
    </div>
{% endblock %}